flask
numpy
pandas
matplotlib
opencv-python
tensorflow
keras
torch
torchvision
tqdm
pillow
scikit-learn
scipy
h5py
seaborn
requests
imageio
imutils
flask-cors
werkzeug
gunicorn
tesseract
pytesseract
easyocr
